@model List<PayMethod>
@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<a asp-area="admin" asp-controller="Payment" asp-action="create" class="btn btn-primary">Create</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><img src="~/Uploads/@item.Image" alt="Alternate Text" style="max-width:150px; max-height:150px" /></td>
                <td><a asp-controller="Payment" asp-area="admin" asp-action="update" asp-route-id="@item.Id" type="button" class="btn btn-success">Update</a></td>
                <td><a asp-controller="Payment" asp-area="admin" asp-action="delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')" type="button" class="btn btn-danger">Delete</a></td>
            </tr>

        }

    </tbody>
</table>