@model List<Setting>





    <div class="module-body">
        <ul class="toggle-footer" style="">

            @foreach (var item in Model)
            {
                <li class="media">
                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="@item.Icon"></i> </span> </div>
                    <div class="media-body">
                        <p>@item.Text</p>
                    </div>
                </li>
            }


        </ul>
    </div>






