@model Category
@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<form asp-area="admin" asp-controller="Category" asp-action="update" method="post">
    <div class="form-group">
        <label asp-for="@Model.Name">Category Name</label>
        <input  class="form-control" asp-for="@Model.Name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <input asp-for="@Model.Id" hidden />
    <button type="submit" class="btn btn-primary">Update</button>
</form>


