@model List<Subcategory>
@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col"><a asp-area="admin" asp-controller="Subcategory" asp-action="create" class="btn btn-primary">Create</a></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Category.Name</td>
            <td><a type="button" class="btn btn-success">Update</a></td>
            <td><a onclick="return confirm('Are you sure?')" type="button" class="btn btn-danger">Delete</a></td>
        </tr>

        }

    </tbody>
</table>




